# Large / Unused Assets
tree_pack_v1.glb
**/tree_pack_v1.glb

# Dependencies
node_modules/

# Production Build
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local

# OS Files
.DS_Store
Thumbs.db
